<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>{{basics.name}}'s Resume</title>
  </head>
  <body class="bg-neutral-100 py-40">
    <div class="flex flex-col gap-12 w-2/3 mx-auto">
      {{! header section }}
      <div class="flex flex-col items-center py-8">
        <div class="flex justify-center items-center gap-5 py-5">
          <img
            src={{basics.image}}
            alt="avatar"
            class="w-16 y-16 rounded-full shadow-max"
          />
          <h1 class="text-5xl font-bold">{{basics.name}}</h1>
        </div>
        <h2 class="font-thin text-2xl tracking-wide">{{basics.label}}</h2>
      </div>
      {{! contact info section}}
      <div class="grid grid-cols-2">
        <div class="flex flex-col">
          <a
            class="text-sky-700 pt-1 hover:underline"
            href="mailto: {{basics.email}}"
          >{{basics.email}}</a>
          <a
            class="text-sky-700 pt-1 hover:underline"
            href={{basics.url}}
            target="_blank"
          >{{basics.url}}</a>
          <a class="text-sky-700 pt-1">{{basics.phone}}</a>
        </div>
        <div>
          {{#each basics.profiles}}
            <div class="flex justify-end pt-1">
              <span
                class="lowercase font-light text-neutral-700"
              >{{network}}/</span>
              <a
                class="text-sky-700 hover:underline"
                href={{url}}
                target="_blank"
              >{{username}}</a>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="divide-y-2">
        {{! Summary }}
        <div class="flex flex-col py-5 gap-3">
          <h2 class="text-3xl font-bold">Summary</h2>
          <p>{{basics.summary}}</p>
        </div>
        {{! Skills }}
        <div class="flex flex-col py-5 gap-3">
          <h2 class="text-3xl font-bold">Skills</h2>
          <div class="grid grid-cols-3 justify-items gap-3">
            {{#each skills}}
              <div>
                <h3 class="font-semibold text-lg">{{name}}</h3>
                <span class="font-light text-neutral-700">{{level}}</span>
                <div class="flex flex-wrap gap-1 py-3">
                  {{#each keywords}}
                    <div
                      class="rounded-full text-sm px-3 py-1 bg-neutral-800 text-neutral-200 w-fit font-semibold"
                    >
                      {{this}}
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        {{! Work }}
        <div class="py-5">
          <h2 class="text-3xl font-bold pb-3">Work</h2>
          <ul class="list-disc">
            {{#each work}}
              <li class="py-2">
                <div class="flex items-center justify-between">
                  <a
                    href={{url}}
                    target="_blank"
                    class="text-xl font-semibold pb-1 hover:underline"
                  >{{name}}</a>
                  <div>
                    <span class="font-light text-neutral-600">{{startDate}}
                    </span>
                    {{#if endDate}}
                      <span class="font-light text-neutral-600">-
                        {{endDate}}
                      </span>
                    {{else}}
                      <span class="font-light text-neutral-600">
                        - present</span>
                    {{/if}}
                  </div>
                </div>
                <span class="italic text-lg">{{position}}</span>
                <ul class="pt-2">
                  {{#each highlights}}
                    <li class="text-neutral-600 tracking-wider">- {{this}}</li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </div>
        {{! Education }}
        <div class="flex flex-col py-5 gap-3">
          <h2 class="text-3xl font-bold">Education</h2>
          <ul class="list-disc">
            {{#each education}}
              <li>
                <div class="flex items-center justify-between">
                  <a
                    href={{url}}
                    target="_blank"
                    class="text-xl font-semibold pb-1 hover:underline"
                  >{{institution}}</a>
                  <div>
                    <span class="font-light text-neutral-600">{{startDate}}
                    </span>
                    {{#if endDate}}
                      <span class="font-light text-neutral-600">-
                        {{endDate}}
                      </span>
                    {{else}}
                      <span class="font-light text-neutral-600">
                        - present</span>
                    {{/if}}
                  </div>
                </div>
                <span class="italic text-lg py-1">{{studyType}}
                  {{#if area}}
                    in
                    {{area}}
                  {{/if}}
                </span>
                <div class="flex flex-wrap gap-1 py-1">
                  {{#each courses}}
                    <div
                      class="rounded-full text-sm px-3 py-1 bg-neutral-800 text-neutral-200 w-fit font-semibold"
                    >
                      {{this}}
                    </div>
                  {{/each}}
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        {{! Projects }}
        <div class="py-5">
          <h2 class="text-3xl font-bold pb-3">Projects</h2>
          <div class="flex flex-wrap justify-between gap-3">
            {{#each projects}}
              <div>
                <a
                  href={{url}}
                  target="_blank"
                  class="font-semibold text-lg"
                >{{name}}</a>
                <p class="italic">{{description}}</p>
                <ul class="flex flex-wrap gap-1 py-3">
                  {{#each keywords}}
                    <li
                      class="rounded-full text-sm px-3 py-1 bg-neutral-800 text-neutral-200 w-fit font-semibold"
                    >
                      {{this}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          </div>
        </div>
        {{! Languages, Interests etc }}
        <div class="pt-5">
          <div class="flex flex-wrap justify-start gap-12">
            {{#if languages}}
              <div class="w-max">
                <h3 class="font-semibold text-lg">Languages</h3>
                {{#each languages}}
                  <div>
                    {{language}}
                  </div>
                  {{#if fluency}}
                    <div class="font-light text-neutral-600">
                      -
                      {{fluency}}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/if}}
            {{#if interests}}
              <div class="w-max">
                <h3 class="font-semibold text-lg">Interests</h3>
                {{#each interests}}
                  <div>
                    {{name}}
                  </div>
                  {{#each keywords}}
                    <div class="font-light text-neutral-600">
                      -
                      {{this}}
                    </div>
                  {{/each}}
                {{/each}}
              </div>
            {{/if}}
            {{#if awards}}
              <div class="w-max">
                <h3 class="font-semibold text-lg">Awards</h3>
                {{#each awards}}
                  <a href={{url}} target="_blank" class="hover:underline">
                    {{title}}
                  </a>
                  {{#if awarder}}
                    <div class="font-light text-neutral-600">
                      -
                      {{awarder}}
                    </div>
                  {{/if}}
                  {{#if date}}
                    <div class="font-light text-neutral-600">
                      -
                      {{date}}
                    </div>
                  {{/if}}
                  {{#if summary}}
                    <div class="font-light text-neutral-600">
                      -
                      {{summary}}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/if}}
            {{#if certificates}}
              <div class="w-max">
                <h3 class="font-semibold text-lg">Certificates</h3>
                {{#each certificates}}
                  <a href={{url}} target="_blank" class="hover:underline">
                    {{name}}
                  </a>
                  {{#if issuer}}
                    <div class="font-light text-neutral-600">
                      -
                      {{issuer}}
                    </div>
                  {{/if}}
                  {{#if date}}
                    <div class="font-light text-neutral-600">
                      -
                      {{date}}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/if}}
            {{#if publications}}
              <div class="w-max">
                <h3 class="font-semibold text-lg">Publications</h3>
                {{#each publications}}
                  <a href={{url}} target="_blank" class="hover:underline">
                    {{name}}
                  </a>
                  {{#if releaseDate}}
                    <div class="font-light text-neutral-600">
                      -
                      {{releaseDate}}
                    </div>
                  {{/if}}
                  {{#if summary}}
                    <div class="font-light text-neutral-600">
                      -
                      {{summary}}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>